@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf);
}

body, html{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f5deb3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root{
    --header_footer_BGcolor: #112D4E;

    /* book card color schemes */
    /* color codes:
        have read: green,
            title, border-left: rgb(0, 180, 0),
            author: rgb(0, 170, 0);

        reading: yellow,
            title, border-left: yellow
            author: gold;

        haven't read: red,
            title, border-left: red,
            author: crimson;
    */
}
button{
    border: none;
    cursor: pointer;
}

header{
    height: 130px;
    background-color: var(--header_footer_BGcolor);
    /* position: sticky; */
    display: flex;
    justify-content: space-between;
}
.branding{
    display: flex;
    gap: 25px;
}
.logo{
    height: 150px;
    position: relative;
    left: 15px;
    bottom: 15px;
}
.headerTitle{
    padding-top: 5px;
    color: wheat;
    font-family: norseBold;
    font-size: 50px;
}
.headerActions{
    display: flex;
    gap: 25px;
    margin: 45px 50px 0 0;
}
.headerActionsButton{
    height: 35px;
    width: 160px;
    background-color: white; 
    border: none;
    border-radius: 20px;
}
.headerActionsButton:active{
    background-color: #f5deb3;
}

.addBookModal{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--header_footer_BGcolor);
    height: 340px;
    width: 275px;
    font-family: sans-serif;
}
.addBookModalTopbar{
    display: flex;
    justify-content: space-between;
}
.addBookModalTitle{
    margin: 2px 0 30px 0px;
}
.cancelSubmission{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}
.cancelSubmission:hover{
    background-color: rgb(255, 56, 56);
}
.cancelSubmission:active{
    background-color: crimson;
}
.addNewBookModalForm{
    margin-left: 8px;
}
.addBookModalInputs{
    width: 250px;
    height: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 5px;
}
.asterisk{
    color: red;
}
.addBookModalInputs:focus{
    outline: none;
}
#favquote{
    height: 60px;
    resize: none;
}

#finishCheck{
    margin-left: 0;
    cursor: pointer;
}

.submitNewBook{
    height: 30px;
    width: 65px;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 215px;
    bottom: 20px;
}

.submitNewBook:active{
    background-color: rgb(0, 153, 0);
}

.container{
    margin: 50px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    gap: 20px;
}

.bookCard{
    margin: 0;
    height: 150px;
    background-color: #09122C;
    border-radius: 10px;
    color: white;
    font-family: monospace;
}
.bookCardTitle{
    color: var(--bookCardTitleColor);
    font-size: 20px;
    padding: 20px 0 5px 10px;
    margin-right: 10px;
}
.bookCardAuthor{
    color: var(--bookCardAuthorColor);
    padding-left: 80px;
}
.bookCardQoute {
    padding-left: 25px;
    width: max-content; /* Adjusts width to content, but will be constrained by max-width */
    max-width: 45ch; /* 20 characters max per line */
    word-wrap: break-word; /* Ensures long words wrap */
    overflow-wrap: break-word;
    white-space: normal; /* Allows wrapping */
    font-style: italic;
    padding-top: 30px;
}


footer{
    background-color: var(--header_footer_BGcolor);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.credit{
    color: wheat;
    font-size: 15px;
}
a{
    text-decoration: none;
}